{% extends 'base.html' %}
{% block head %}
    <title>Task Manager</title>
    <link rel="stylesheet" href="static\index.css">
{% endblock %}

{% block body %}
    <div class="main"> 
        <h1>Task manager</h1>
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Action</th>
            </tr>

            {% for t in tasks %}
            <tr>
                <td>{{t.content}}</td>
                <td>{{t.date_created.date()}}</td>
                <td>
                    <a href="/delete/{{t.id}}">Delete</a><br>
                    <a href="/update/{{t.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form action="/index" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task" id="submit">

    </form>
    </div>

    
{% endblock %}